{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-tutorialindexpage{% endblock %}

{% block content %}
<div class="tutorial_index_page">
    <div class="tutorial_page_header">
      <p class="title">{{ page.title }}</p>
      <p class="intro">{{page.intro}}</p>
    </div>
  
    <div class="tutorial_list">
        {% for post in page.get_children %}
            <div class="tutorial_item">
                <div class="tutorial_item_title" onClick="document.location = '{% pageurl post %}';">{{ post.title }}</div>
                <div class="tutorial_item_intro"> {{ post.specific.intro }}</div>
            </div>

        {% endfor %}
        
        <p class="goback_link"><a href="{{ page.get_parent.url }}">Return to {{page.get_parent.title}}</a></p>   
    </div>
</div>

   

{% endblock %}