{% extends "base.html" %}

{% load wagtailcore_tags %}


{% block body_class %}template-homepage{% endblock %}

{% block content %}
 
    <div class="tutorials">
        {% for level in page.get_children %}
            <div class="tutorial_level">
                <div class="level_name" onClick="document.location = '{{level.url}}';">{{level.title}}</div>
                <div class="level_intro">{{post.intro}}</div>
                <div class="tutorial_list">
                    {% for tutorial in level.get_children|slice:":5" %}
                        <p class="tutorial_item" onClick="document.location = '{{tutorial.url}}';">{{tutorial.title}}</p>
                    {% endfor %}                  
                </div>
                
                <div class="level_discord" onClick="document.location = '{{ level.specific.discordLink }}';">DISCORD GROUP</div>
            </div>   
            

        {% endfor %}

    </div>

    <div class="code_editor">
        <div class="code_editor_title">CODE EDITOR</div>
        <div class="code_editor_embeded">
            <iframe src="https://trinket.io/embed/python/3d8d7ce66b" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
        </div>    
    </div>
   
    
{% endblock %}