{% extends "base.html" %}

{% load wagtailcore_tags %}


{% block body_class %}template-homepage{% endblock %}

{% block content %}
 
    <div class="tutorials">
        {% for post in page.get_children %}
            <div class="tutorial_level">
                <div class="level_name" onClick="document.location = '{{post.url}}';">{{post.title}}</div>
                <div class="level_intro">{{post.intro}}</div>
                <div class="tutorial_list">
                    {% for tutorial in post.get_children|slice:":5" %}
                        <p class="tutorial_item" onClick="document.location = '{{tutorial.url}}';">{{tutorial.title}}</p>
                    {% endfor %}                  
                </div>
                <div class="level_discord">DISCORD LEARNING GROUP</div>
            </div>   
       

        {% endfor %}

    </div>

    <div class="code_editor">
        <div class="code_editor_button">CODE EDITOR</div>
    </div>
{% endblock %}