{% extends "base.html" %}

{% load wagtailcore_tags %}


{% block body_class %}template-homepage{% endblock %}

{% block content %}
 
    <div class="tutorials">
        <div class="tutorial_level">
            <div class="level_name">LEVEL 1</div>
            <div class="tutorial_list">
            <p>Tutorial 1</p>
            <p>Tutorial 2</p>
            <p>Tutorial 3</p>
            <p>Tutorial 4</p>
            </div>
            <div class="level_discord">DISCORD LEARNING GROUP</div>
        </div>
        
        <div class="tutorial_level">
            <div class="level_name">LEVEL 2</div>
            <div class="tutorial_list">
            <p>Tutorial 1</p>
            <p>Tutorial 2</p>
            <p>Tutorial 3</p>
            <p>Tutorial 4</p>
            </div>
            <div class="level_discord">DISCORD LEARNING GROUP</div>
        </div>
        
        <div class="tutorial_level">
            <div class="level_name">LEVEL 3</div>
            <div class="tutorial_list">
            <p>Tutorial 1</p>
            <p>Tutorial 2</p>
            <p>Tutorial 3</p>
            <p>Tutorial 4</p>
            </div>
            <div class="level_discord">DISCORD LEARNING GROUP</div>
        </div>
    </div>

    <div class="code_editor">
        <div class="code_editor_button">CODE EDITOR</div>
    </div>
{% endblock %}