{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-loginpage{% endblock %}

{% block content %}
<center>
    <form>
        <div>
            <label>Username: </label>
            <input type="text" name="name" placeholder="Enter Username here" required>
        </div>
        
        <div>
            <label>Password: </label>
            <input type="password" name="password" placeholder="Enter Password here" required>
        </div>
        
        <div>
            <button type="submit" onclick="location.href = 'successlogin.html';">Submit</button>
        </div>
        
        <div>
            <button onclick="location.href = 'registerpage.html';">Register</button>
        </div>

    </form>
</center>

   

{% endblock %}