{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/basicpython.css' %}">

        {% block extra_css %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/tutorialindex.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/tutorialpage.css' %}">
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        <div class="header">PYTHON BASIC</div>

        <div class="userPanel">
            <div class="user_button" id="login_button">Login</div>
            <div class="user_button" id="signup_button" >Signup</div>
        </div>

        <div id="loginPanel" class="loginPanelHidden">
            <center>
                <form>
                    <div>
                        <label>Username: </label>
                        <input type="text" name="name" placeholder="Enter Username here" required>
                    </div>
                    
                    <div>
                        <label>Password: </label>
                        <input type="password" name="password" placeholder="Enter Password here" required>
                    </div>
                    
                    <div>
                        <button type="submit" onclick="location.href = 'successlogin.html';">Submit</button>
                    </div>
                    
                    <div>
                        <button onclick="location.href = 'registerpage.html';">Register</button>
                    </div>
            
                </form>
            </center>
        </div>

        <div id="signupPanel" class="signupPanelHidden">
            <center>
                <form>
                    <div>
                        <label>Username: </label>
                        <input type="text" name="name" placeholder="Enter Username here" required>
                    </div>
                    
                    <div>
                        <label>Email: </label>
                        <input type="email" name="email" placeholder="Enter Email here" required>
                    </div>
                    
                    <div>
                        <label>Password: </label>
                        <input type="password" name="password" placeholder="Enter Password here" required>
                    </div>
                    
                    <div>
                        <button type="submit" onclick="location.href = '/register-successful/';">Submit</button>
                    </div>
                    
                </form>
            </center>
        </div>
        {% block content %}{% endblock %}

        <div class="footer">
            <p>Copyright &#169; 2020 by Team 2 - CS160 </p>
        </div>

        {# Global javascript #}


        {% block extra_js %}
            <script type="text/javascript" src="{% static 'js/basicpython.js' %}"></script>
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
